@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout=null;
}
<style>
@@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.postimg.cc/rmWWDgCp/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    color: #fff;
    padding: 20px 40px 20px 20px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 20px 0 15px;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 10px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
    transition: .5s;
}

.wrapper .btn:hover{
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-color: #fff;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.register-link p a:hover{
    text-decoration: underline;
}

    .loader2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      
        background: rgba(255,255,255,0.8) url('../assets/img/loader2.svg') center center no-repeat;
      
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="loader2" id="Loader" style="display:none">
    </div>
    <div class="wrapper">
        <form asp-action="Login" method="post" onsubmit="StartLoader();" onended="EndLoader();">

            <h1>Login</h1>

            <div class="input-box">
                <input type="text" id="UserName" name="UserName" placeholder="Username" autofocus>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" name="PassWord" id="PassWord" placeholder="Password">
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="remember-forget">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn" >Login</button>
            @if(ViewData["ErrorMessage"] !=null)
            {

                <div id="messageBox" class="container" style=" padding: 10px; margin-bottom: 10px;  ">@ViewData["ErrorMessage"]</div>

            }
 @*            <div class="register-link">
                <p>
                    Don't have an account? <br>
                    <a href="#">Register</a>
                </p>
            </div> *@

        </form>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>

            function StartLoader() {


                $('#Loader').fadeIn('slow').show();


            }
            function EndLoader() {
                $('#Loader').fadeOut("slow").hide();



            }
            function AlertMsg(message, title, time) {

                swal({
                    title: title,
                    text: message,
                    timer: time,
                    showConfirmButton: false,
                    icon: "error"
                });
            }
            function success(message, title, time) {

                swal({
                    title: title,
                    text: message,
                    timer: time,
                    showConfirmButton: false,
                    icon: "success"
                });
            }


        </script>
    </div>
</body>
</html>